body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* will have to define what pages get this background */
/* body {
  background-image: url("brain1.png");
  background-repeat: no-repeat;
  }  OR
  body {
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  }*/

 * {
  margin-right: 5px;
  margin-left: 5px;
  box-sizing: border-box;
  
}

.h1 {
  text-align: center;
}

body {
  
  /* width: 270px;
  height: 270px; */
  margin: auto;
  margin-top: 3%;
  text-align: center;
  border: 10px solid rgba(247, 127, 0, .7);
  /* border: 10px solid rgba(10, 147, 150, .5); */

  background: rgba(0, 0, 0, .4);
  background-clip: padding-box;
  border-radius: 5px;
  padding: 5px;
}


img {
  max-inline-size: 100%;
  block-size: auto;
  margin-left: -.05px;
  margin-top: 10px;
}

.triviapillar {
  justify-content: center;
}

.container-fluid {
  margin: 0;
  padding: 0;
}


.table {
  margin: 18px;
  padding-right: 10px;
  text-align: center;
}


.row {
  /* background-color: #f77f00; */
  /* margin-bottom: 20px; */
  font-weight: bold;
}

.col {
  text-align: center;
  margin-top: 5px;;
}


.container-fluid {
    margin: 0;
    padding: 0;
}


.btn-success {
  text-align: center;
    background-color: #0a9396 !important
}

btn-primary {
  text-align: center;
    background-color: #0a9396 !important
}

.btn-warning {
  text-align: center;
  background-color: #ffb703 !important
}

.btn-danger {
  text-align: center;
  background-color: #ae2012 !important
}

.btn-success:hover {
  background-color: #5db6b8 !important
}

.btn-warning:hover {
  background-color: #f7d47d !important
}

.btn-danger:hover {
  background-color: #eb665a !important
}





