h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-bottom: 40px;
    
  }
  
  .timer-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .timer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    color: #000000;
  }
  
  .value {
    font-size: 40px;
  }

  .columnHeader {
    text-align: center;
  }
  
  .time-wrapper1 {
    position: relative;
    width: 80px;
    height: 60px;
    font-size: 48px;
    font-family: "Roboto";
  }

  .time-wrapper2 {
    position: relative;
    width: 82px;
    height: 62px;
    font-size: 48px;
    font-family: "Roboto";
  }
  
  .time-wrapper .time {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s;
  }
  
  .time-wrapper .time.up {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .time-wrapper .time.down {
    opacity: 0;
    transform: translateY(100%);
  }
  
  
 